@model IEnumerable<GestorContatos.Models.Contato>

@{
    ViewBag.Title = ":: Contatos ::";
}

<h2>Lista de Contatos</h2>

<p>
    @Html.ActionLink("Novo Registro", "Create")
</p>
<table class="table table-bordered table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CodContato)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Endereco)
        </th>
        <th>Ações</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CodContato)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataNascimento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Endereco)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new {id=item.CodContato}) |
            @Html.ActionLink("Detalhes", "Details", new {id=item.CodContato}) |
            @Html.ActionLink("Adicionar Telefone", "../Telefone/Create", new {id=item.CodContato})
        </td>
    </tr>
}

</table>
