@model GestorContatos.Models.ViewModels.TelefoneCreate

@{
    ViewBag.Title = ":: Contatos :: ";
}

<h2>Incluir telefone do contato @Html.ValueFor(model => model.CodContato)</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="form form-horizontal">
        <fieldset>
            @Html.HiddenFor(model => model.CodContato)
            <legend>Telefone</legend>

            <div class="form-group">
                @Html.LabelFor(model => model.Numero, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Numero, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Numero, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CodOperadora, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.CodOperadora, new SelectList(Model.Operadora, "CodOperadora", "Nome", "-- Selecione --"), htmlAttributes: new { @class = "form-control"})
                    @Html.ValidationMessageFor(model => model.CodOperadora, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Salvar" class="btn btn-default" />
                </div>
            </div>
        </fieldset>
    </div>

        }

        <div>
            @Html.ActionLink("Retornar aos Contatos", "..")
        </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
